<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<body>
<div class="bgimg">
  <img src="{{url_for('static',filename='forest1.jpg')}}" alt="">
  <div class="topleft">
  </div>
  <div class="middle">
    <h1 style="color: white;">COMING SOON</h1>
    <h2 style="color: white;">Have A Nice Day</h2>
    <h2 style="color: white;">Team Pulse </h2>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
  <div class="bottomleft">
    <p>Some text</p>
  </div>
</div>
</body>
</html>
